<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>

    <div id="app">{{ message }}

    <loading v-bind:show="isLoading"></loading>

      <ul>
        <li v-for="todo in todos" :key="todo.id">
          {{ todo.title }} <span style="cursor: pointer;" v-on:click="deleteTodo(todo.id)">❌</span>
        </li>
      </ul>
      <span v-if="todos.length === 0">No todo to show</span>

      <carousel v-if="photos.length > 0" v-bind:photos="photos" v-bind:carouselid="'photoPlaceHolder'"></carousel>
      <br/>
      <carousel v-if="cats.length > 0" v-bind:photos="cats" v-bind:carouselid="'catsPlaceHolder'"></carousel>

  </div>    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="/components//loading.js"></script>
    <script type="module" src="/components//carousel.js"></script>
    <script type="module" src="/app.js"></script>
  </body>
</html>
